body {
    background-color: rgb(9, 2, 24) !important;
}

.header-text {
    margin-top: 2rem !important;
}

.admin-header {
    height: 3rem;
    margin: 3rem;
    text-align: center;
    position: relative;
}

.navcolor {
    background-color: rgb(31, 28, 22) !important;
}

.admin-header-text {
    font-size: 3rem;
    color: black;
    font-weight: bolder;
    position: absolute;
    text-align: center;
    display: contents;
    color: white;
}

.random_code {
    margin-bottom: 3rem !important;
    color: whitesmoke !important;
}

.adimin {
    color: white;
}

.ContactForm {
    margin-left: 15rem;
}

.side-nav .collapsible>li a.collapsible-header.active {
    background-color: rgba(255, 0, 0, 0.445);
}

.side-nav .collapsible>li a.collapsible-header:hover {
    background-color: rgba(200, 20, 216, 0.788);
}

.side-nav .collapsible li a:hover {
    background-color: rgba(70, 182, 35, 0.719);
}